[submodule "Logger"]
	path = Logger
	url = git@github.com:aayush749/Logger.git
[submodule "LocalChat/LCClient/vendor/inipp"]
	path = LocalChat/LCClient/vendor/inipp
	url = git@github.com:mcmtroffaes/inipp.git
[submodule "LocalChat/vendor/crossguid"]
	path = LocalChat/vendor/crossguid
	url = git@github.com:graeme-hill/crossguid.git
[submodule "LocalChat/LCClient/vendor/imgui"]
	path = LocalChat/LCClient/vendor/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "LocalChat/LCClient/vendor/GLFW"]
	path = LocalChat/LCClient/vendor/GLFW
	url = git@github.com:glfw/glfw.git
